@import url(https://fonts.googleapis.com/css?family=Roboto);

.card {
  margin: 20px auto;
  width: 340px;
  height: 220px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
}

.cardDays {
  margin: 20px auto;
  width: 340px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
}

.upcoming,
.city,
.date {
  color: gray;
  margin-left: 35px;
}

.upcoming {
  padding-top: 20px;
  margin-right: 100px;
  width: 200px;
  height: 50px;
  font-size: 15px;
  line-height: 45px;
}

.city {
  padding-top: 40px;
  font-size: 30px;
}

.date {
  font-size: 20px;
  line-height: 45px;
}

.temp {
  position: absolute;
  display: inline;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 50px;
  color: black;
}

.icon {
  width: 30px;
  height: 30px;
}
